<div class="top-hero-wrapper text-center">
  <div class="container top-hero-container">
    <h1>HAKAMILEへようこそ</h1>

    <h2>「HAKAMILE」はオンライン墓地のウェブサービスです。</h2>

    <%= link_to "HAKAMILE会員登録", signup_path, class: "btn btn-lg btn-primary" %>

  </div>
</div>
