<div class="top-hero-wrapper text-center">
  <div class="container top-hero-container">
    <h1>hakamileへようこそ</h1>

    <h2>「hakamile」はオンライン墓地のウェブサービスです。</h2>

    <%= link_to "hakamile会員登録", signup_path, class: "btn btn-lg btn-primary" %>

  </div>
</div>
