<% provide(:title, "お墓参り一覧") %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <% if !@miles.nil? %>
      <%= will_paginate %>
        <% @miles.each do |mile| %>
          <p><%= mile.created_at.to_s %><br><%= mile.user.name %>さんがお墓参りをしました。</p>
        <% end %>
      <%= will_paginate %>
    <% end %>
  </div>
</div>
