@import "bootstrap-sprockets";
@import "bootstrap";

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


// universal

body {
  padding-top: 60px;
}
//
section {
  overflow: auto;
}

// header

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 5px;
  padding-top: 9px;
  font-weight: bold;
}

.navbar {
  margin-bottom: 0;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

// home

.top-hero-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: image-url('top-background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgba(0,0,0,0.0);

  h1 {
    font-size: 100px;
    letter-spacing: 3px;
    color: black;
  }

  h2 {
    font-size: 30px;
    padding-bottom: 50px;
    color: black;
  }

}

#main-title {
  display: none;
}

#sub-title {
  display: none;
}

.top-hero-container {
  padding-top: 60px;

}


// forms

.form-control {
  margin-bottom: 20px;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}


.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}


/* forms */
.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}


/* modal */

// .modal {
//   position: absolute;
//   top: 20%;
//   left: 34%;
//   background-color: red;
//   padding: 20px 0 40px;
//   border-radius: 10px;
//   width: 450px;
//   height: auto;
//   text-align: center;
// }
//
// .fa-times {
//   position: absolute;
//   top: 12px;
//   right: 12px;
//   color: rgba(128, 128, 128, 0.46);
//   cursor: pointer;
// }

#signup-form, #login-form {
  width: 100%;
}

#signup-form h2, #login-form h2 {
  color: #5f5d60;
  letter-spacing: 1px;
  margin-bottom: 40px;
}

#signup-form input, #login-form input {
  width: 320px;
  margin-bottom: 20px;
  font-size: 12px;
  padding: 12px 12px;
  border: 1px solid #d0d5d8;
  border-radius: 5px;
}

#submit-btn {
  display: inline-block;
  padding: 14px 140px;
  background-color: #5dca88;
  border: none;
  border-radius: 3px;
  color: white;
  margin: 10px auto;
  cursor: pointer;
}



// 墓まいりJavaScript


#mile_thanks.mile_complete {
  background: pink;
  height: 100px;
  margin-bottom: 20px;
  border-radius: 20px;
  text-align: center;
  color: black;
  font-size: 50px;
  padding-top: 10px;
  color: white;
  margin-top: 20px;
}
